[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/histwin.vim"]
	path = vim/bundle/histwin.vim
	url = git://github.com/vim-scripts/histwin.vim.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/OmniCppComplete"]
	path = vim/bundle/OmniCppComplete
	url = git://github.com/vim-scripts/OmniCppComplete.git
[submodule "vim/bundle/Color-Sample-Pack"]
	path = vim/bundle/Color-Sample-Pack
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/VimClojure"]
	path = vim/bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure
[submodule "vim/bundle/paredit.vim"]
	path = vim/bundle/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim
